# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk drives
.Spotlight-V100
.Trashes

# macOS volume-specific files
.VolumeIcon.icns

# macOS metadata
.fseventsd
.apdisk